{% extends 'navbar.html' %}
{% block title %}Home{% endblock title %}
{% block page_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <h1>.</h1>
    <div class="homepage d-flex vw-100" style="height:94.2vh">
        <div class="note-nav  p-3 mb-2 bg-secondary text-white w-15 h-100">
            <h3>Notes</h3>
            <form class="note-nav-form m-3" action="" method="POST">
                {% csrf_token %}
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input id="my-notes" class="form-check-input" type="checkbox" checked="checked" named="boxes">
                    </div>
                    <label for="form-check">My Notes</label>
                </div>
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input id="shared-notes" class="form-check-input" type="checkbox" named="boxes">
                    </div>
                    <label for="form-check-input">Shared Notes</label>
                </div>
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input id="all-notes" class="form-check-input" type="checkbox" named="boxes">
                    </div>
                    <label for="form-check-input">All Notes</label>
                </div>
                <script>
                    myNotesCheck = $("#my-notes")
                    sharedNotesCheck = $("#shared-notes")
                    allNotesCheck = $("#all-notes")
                    myNotesCheck.click(function(e) {
                        if (myNotesCheck.get(0).checked) {
                            $("#notes").show()
                        } else {
                            $("#notes").hide()
                        }
                    })
                    sharedNotesCheck.click(function(e) {
                        if (sharedNotesCheck.get(0).checked) {
                            $("#shared-notes-view").show()
                        } else {
                            $("#shared-notes-view").hide()
                        }
                    })
                    allNotesCheck.click(function(e) {
                        if (allNotesCheck.get(0).checked) {
                            sharedNotesCheck.get(0).checked = true
                            myNotesCheck.get(0).checked = true
                            $("#notes").show()
                            $("#shared-notes-view").show()
                        } else {
                            sharedNotesCheck.get(0).checked = false
                            myNotesCheck.get(0).checked = false
                            $("#notes").hide()
                            $("#shared-notes-view").hide()
                        }
                    })

                </script>
            </form>
        </div>
        <div class="main-view d-flex flex-column w-85 h-100" style="width: 85vw; column-gap: 0px">
            <div class="folder-view w-100 h-100 d-flex flex-column">
                <form class="create-form w-100">
                    <div class="d-flex w-100 justify-content-center" style="column-gap: 10px">
                        <a href="note/create" class="new-note w-100  text-decoration-none h-100 d-flex p-3 m-3 justify-content-center" style="column-gap: 10px; color: inherit">
                            <h2 for="new-note-button w-75 font-weight-bold">New Note</h2>
                            <button class="new-note-button w-10 btn btn-outline-dark" type="button">
                                <i class="fa fa-plus w-100 h-100"></i>
                            </button>
                        </a>
                        <a href="folder/create" class="new-folder w-100 text-decoration-none h-100 d-flex p-3 m-3 justify-content-center text-align-center" style="column-gap: 10px; color: inherit">
                            <h2 for="new-note-button w-75 font-weight-bold">New Folder</h2>
                            <button class="new-folder-button w-10 btn btn-outline-dark" type="button">
                                <i class="fa fa-plus w-100 h-100"></i>
                            </button>
                        </a>
                    </div>
                </form>
                <div class="views h-100 w-100 d-flex flex-column">

                    {% block messages %}
                    <form class="folders d-flex w-100 h-100" style=" column-gap: 15%; overflow-y: scroll; overflow-x: hidden; flex-wrap: wrap;">
                        {% csrf_token %}
                        {% for folder in folders %}
                            <div class="card " style="height: 10rem; width: 18rem;">
                                <button id="{{ folder.id }}"class="btn d-flex flex-column justify-content-center text-align-center m-1" style="row-gap: 8%; height: 60%; flex-basis: 15%; align-items: center;" value="{{ folder }}">
                                    <i class="fa fa-folder fa-2x  h-50"></i>
                                    <h4 class="h-50">{{folder}}</h4>
                                </button>
                                <div class="dropdown" style="align-self: center;">
                                    <button class="dropbtn">•••</button>
                                    <div class="dropdown-content">
                                        <a href="folder/{{ folder.id }}/update" class="btn btn-primary">Update</a>
                                        <a href="folder/{{ folder.id }}/delete" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                                <script>
                                    $(" #{{ folder.id }}").click(function(e) {
                                        e.preventDefault();
                                        $.ajax({
                                            type: "POST",
                                            url: "",
                                            data: {
                                                id: "{{ folder.id }}",
                                                csrfmiddlewaretoken: window.CSRF_TOKEN
                                            },
                                            success: function(result) {
                                                $('#notes').replaceWith($('#notes', result));
                                                if (!$("#my-notes").get(0).checked)
                                                    $("#my-notes").get(0).checked = true
                                            },
                                            error: function(result) {

                                            }
                                        })
                                    })


                                </script>


                            </div>
                        {% endfor %}
                    </form>
                    {% endblock messages %}
            <div id="notes" class="note-view w-100 h-100" style="border-top: solid 5px black;">
                <form class="notes d-flex w-100 h-100" style=" column-gap: 15%; overflow-y: scroll; overflow-x: hidden; flex-wrap: wrap; ">
                    {% csrf_token %}
                    {% for note in notes %}
					<div class="card" style="height: 10rem;  width: 18rem;">
                        <a href="note/{{ note.id }}/update" class="btn d-flex flex-column " style="row-gap: 8%;">
                            <i class="fa fa-file fa-2x  h-50">

                            </i>
                                <h4 class=" h-50">{{note}}</h4>


                        </button>
						<div class="dropdown">
                            <button class="dropbtn">•••</button>
                            <div class="dropdown-content">
                                <a href="note/{{ note.id }}/update" class="btn btn-primary">Update</a>
                                <a href="{% url 'shared_with_list' note.pk %}" class="btn btn-info">Share</a>
                                <a href="note/{{ note.id }}/delete" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                        <script>
                            $(" #{{ note.id }}").click(function(e) {
                                e.preventDefault();
                                window.location.href = "note/{{ note.id }}"
                            })
                        </script>
                    </div>
                    {% endfor %}
                </form>
            </div>

            <div id="shared-notes-view" class="shared-note-view w-100 h-100" style="border-top: solid 5px black;">

                <form class="notes d-flex w-100 h-100" style=" column-gap: 15%; overflow-y: scroll; overflow-x: hidden; flex-wrap: wrap; ">
                    {% csrf_token %}
                     {% for shared in shared_with %}
					<div class="card" style="height: 10rem;width: 18rem;">
                        <a href="{% url 'shared_update_note' shared.note.pk %}" class="btn d-flex flex-column " style="row-gap: 8%;">
                            <i class="fa fa-file fa-2x  h-50">

                            </i>
                                <h4 class=" h-50">{{shared.note}}</h4>
                        </a>
                        {% if shared.editor %}
                        <div class="dropdown" style="align-self: center;">
                            <button class="dropbtn">•••</button>
                            <div class="dropdown-content">
						        <a href="{% url 'shared_update_note' shared.note.pk %}" class="btn btn-primary">Update</a>
                            </div>
                        </div>
                         {% else %}
                         <div class="dropdown" style="align-self: center;">
                            <button class="dropbtn">•••</button>
                            <div class="dropdown-content">
                                <a href="{% url 'note_view' shared.note.pk %}" class="btn btn-primary">View</a>
                            </div>
                         </div>
                         {% endif %}
                        <script>
                            $(" #{{ note.id }}").click(function(e) {
                                e.preventDefault();
                                window.location.href = "note/{{ note.id }}"
                            })
                        </script>
                    </div>
                    {% endfor %}
                </form>


            </div>
            <script>
                $("#shared-notes-view").hide()
            </script>
        </div>
    </div>
</body>
<style>


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: transparent;}
</style>

{% endblock page_content %}