{% extends 'navbar.html' %}
{% block title %}Home{% endblock title %}
{% block page_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <h1>.</h1>
    <div class="homepage d-flex vw-100" style="height:94.2vh">
        <div class="note-nav  p-3 mb-2 bg-secondary text-white w-15 h-100">
            <h3>Notes</h3>
            <form class="note-nav-form m-3" action="" method="POST">
                {% csrf_token %}
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="checked" named="boxes">
                    </div>
                    <label for="form-check">My Notes</label>
                </div>
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="checked" named="boxes">
                    </div>
                    <label for="form-check-input">Shared Notes</label>
                </div>
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="checked" named="boxes">
                    </div>
                    <label for="form-check-input">All Notes</label>
                </div>
            </form>
        </div>
        <div class="main-view d-flex flex-column w-85 h-100" style="width: 85vw; column-gap: 0px">
            <div class="folder-view w-100 h-50 d-flex flex-column">
                <form class="create-form w-100">
                    <div class="d-flex w-100 justify-content-center" style="column-gap: 10px">
                        <a href="note/create" class="new-note w-100  text-decoration-none h-100 d-flex p-3 m-3 justify-content-center" style="column-gap: 10px; color: inherit">
                            <h2 for="new-note-button w-75 font-weight-bold">New Note</h2>
                            <button class="new-note-button w-10 btn btn-outline-dark" type="button">
                                <i class="fa fa-plus w-100 h-100"></i>
                            </button>
                        </a>
                        <a href="folder/create" class="new-folder w-100 text-decoration-none h-100 d-flex p-3 m-3 justify-content-center text-align-center" style="column-gap: 10px; color: inherit">
                            <h2 for="new-note-button w-75 font-weight-bold">New Folder</h2>
                            <button class="new-folder-button w-10 btn btn-outline-dark" type="button">
                                <i class="fa fa-plus w-100 h-100"></i>
                            </button>
                        </a>
                    </div>
                </form>
        
                    {% block messages %}
                    <form class="folders d-flex w-100 h-100" style=" column-gap: 15%; overflow-y: scroll; overflow-x: hidden; flex-wrap: wrap;">
                        {% csrf_token %}
                        {% for folder in folders %}
                                <button id="{{ folder.id }}"class="btn d-flex flex-column justify-content-center text-align-center m-1" style="row-gap: 8%; height: 30%; flex-basis: 15%;" value="{{ folder }}"> 
                                    <i class="fa fa-folder fa-2x  h-50">

                                    </i>
                                        <h4 class=" h-50">{{folder}}</h4>
                                    
                                </button>
                                <script>
                                    $(" #{{ folder.id }}").click(function(e) {
                                        e.preventDefault();
                                        $.ajax({
                                            type: "POST",
                                            url: "",
                                            data: {
                                                id: "{{ folder.id }}",
                                                csrfmiddlewaretoken: window.CSRF_TOKEN
                                            },
                                            success: function(result) {
                                                $('#notes').replaceWith($('#notes', result));
                                            },
                                            error: function(result) {
                                                
                                            }
                                        })
                                    })
                                </script>
                        {% endfor %}
                    </form>
                    {% endblock messages %}
                
            </div>
            <div id="notes" class="note-view w-100 h-50" style="border-top: solid 5px black;">
                <form class="notes d-flex w-100 h-100" style=" column-gap: 15%; overflow-y: scroll; overflow-x: hidden; flex-wrap: wrap; ">
                    {% csrf_token %}
                    {% for note in notes %}
                        
                        <button id="{{ note.id }}" class="btn d-flex flex-column justify-content-center text-align-center m-1" style="row-gap: 8%; height: 30%; flex-basis: 15%;"> 
                            <i class="fa fa-file fa-2x  h-50">

                            </i>
                                <h4 class=" h-50">{{note}}</h4>
                            
                        </button>
                        <script>
                            $(" #{{ note.id }}").click(function(e) {
                                e.preventDefault();
                                window.location.href = "note/{{ note.id }}"
                            })
                        </script>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock page_content %}