{% extends 'navbar.html' %}
{% block title %}Home{% endblock title %}
{% block page_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <h1>.</h1>
    <div class="homepage d-flex vw-100" style="height:94.2vh">
        <div class="note-nav  p-3 mb-2 bg-secondary text-white w-15 h-100">
            <h3>Notes</h3>
            <form class="note-nav-form m-3" action="" method="POST">
                {% csrf_token %}
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="checked" named="boxes">
                    </div>
                    <label for="form-check">My Notes</label>
                </div>
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="checked" named="boxes">
                    </div>
                    <label for="form-check-input">Shared Notes</label>
                </div>
                <div class="chek-div d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="checked" named="boxes">
                    </div>
                    <label for="form-check-input">All Notes</label>
                </div>
            </form>
        </div>
        <div class="main-view d-flex w-85 h-100 justify-content-center" style="width: 85vw;">
            <div class="folder-view w-100 h-100 d-flex justify-content-center">
                <form class="create-form w-100">
                    <div class="d-flex w-100 justify-content-center" style="column-gap: 10px">
                        <div class="new-note w-100 h-100 d-flex p-3 m-3 justify-content-center" style="column-gap: 10px">
                            <h2 for="new-note-button w-75 font-weight-bold">New Note</h2>
                            <button class="new-note-button w-10 btn btn-outline-dark" type="button">
                                <i class="fa fa-plus w-100 h-100"></i>
                            </button>
                        </div>
                        <div class="new-folder w-100 h-100 d-flex p-3 m-3 justify-content-center text-align-center" style="column-gap: 10px">
                            <h2 for="new-folder-button w-75 font-weight-bold">New Folder</h2>
                            <button class="new-folder-button w-10 btn btn-outline-dark" type="button">
                                <i class="fa fa-plus w-100 h-100"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="folders">
                    <h1>Not Hello</h1>
                    <br>
                    {% for folder in folders %}
                        <p><b>Hello</b></p>
                        <br>
                    {% endfor %}
                    <h1>Not Hello</h1>
                </div>
                
            </div>
            <div class="note-view">

            </div>
        </div>
    </div>
</body>

{% endblock page_content %}