{% extends 'navbar.html' %}
{% block title %}Note Goat{% endblock title %}
{% block page_content %}
<body>
  <h1>.</h1>
  {% if request.user.is_authenticated %}
  <h1>Note Goat</h1>
  <h2>Continue to website</h2>
  <div class="row">
    <div class="col">
      <p>To the homepage!</p>
      <a href="{% url 'home'%}" class="btn btn-primary">Homepage</a>
    </div>
  </div>
  <br>
  <h2>My Account</h2>
  <div class="row">
    <div class="col">
      <a href="{% url 'logout'%}" class="btn btn-secondary">Log Out</a>
    </div>
  </div>
  {% else %}
  <h1>Log in to Note Goat</h1>
  <div class="row">
    <div class="col">
      <p>I have an account</p>
      <a href="{% url 'login'%}" class="btn btn-primary">Log In</a>
    </div>
    <div class="col">
      <p>I want to make an account</p>
      <a href="{% url 'signup'%}" class="btn btn-primary">Sign Up</a>
    </div>
  </div>
  {% endif %}
</body>
{% endblock page_content %}